<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [2]:
str1 = "DataScince"
print(len(str1))

10

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [1]:
frequency = {}
char_cnt = 0
str1 = 'google.com'  
for i in str1:
    if i in frequency:
        frequency[i] += 1
    else:
        frequency[i] = 1

print("the frequency of " + str1[0] + "is",frequency)

the frequency of gis {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [5]:
list1 = [1,2,3,4]
count = 0
for i in range(len(list1)):
    count = count + list1[i]
print(count)

10

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [6]:
str1 = "restart"
char = str1[0]
str1 = str1.replace(char, '$')
str1 = char + str1[1:]
print(str1)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [1]:
a = int(input())
b = int(input())
def parm(a,b):
  s = 3.14 * pow(1+a/b,3)
  return s
c = parm(a,b)
print(c)

5
3
59.54370370370373

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [7]:
dic1 = {1:10,2:20}
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}
res_dic = {**dic1,**dic2,**dic3}
print(res_dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [10]:
element = "ijk"
c = 0
tuple_1 = ("abc","def","ghf",1)
for i in range(len(tuple_1)):
    if(element == tuple_1[i]):
       c = c+1
if(c>0):
    print("element exists")
else:
    print("element not exists")

element not exists

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [12]:
set1 = {"a","b","c","d"}
print(max(set1))
print(min(set1))

d
a

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [18]:
import random 
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

len(studnet_list)

for i in range(1,6):

30

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [3]:
org_list = [3,3,5,1,1,6,5,4,2,7,8,6]
list1 = []
list2 = []
for i in org_list:
    if i not in list1:
        list1.append(i)
    else:
        list2.append(i)
print(list2)

[3, 1, 5, 6]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [12]:
from datetime import date, timedelta

def find_sunday(year):
    date_1= date(year, 1, 1)
    date_1+= timedelta(days = 6 - date_1.weekday())
    while date_1.year == year:
        yield date_1
        date_1+= timedelta(days = 7)

for date_1 in find_sunday(2045):
   print(date_1)

2045-01-01
2045-01-08
2045-01-15
2045-01-22
2045-01-29
2045-02-05
2045-02-12
2045-02-19
2045-02-26
2045-03-05
2045-03-12
2045-03-19
2045-03-26
2045-04-02
2045-04-09
2045-04-16
2045-04-23
2045-04-30
2045-05-07
2045-05-14
2045-05-21
2045-05-28
2045-06-04
2045-06-11
2045-06-18
2045-06-25
2045-07-02
2045-07-09
2045-07-16
2045-07-23
2045-07-30
2045-08-06
2045-08-13
2045-08-20
2045-08-27
2045-09-03
2045-09-10
2045-09-17
2045-09-24
2045-10-01
2045-10-08
2045-10-15
2045-10-22
2045-10-29
2045-11-05
2045-11-12
2045-11-19
2045-11-26
2045-12-03
2045-12-10
2045-12-17
2045-12-24
2045-12-31