## The third In-class-exercise (10/06/2022, 40 points in total)

The purpose of this exercise is to understand text representation.

Question 1 (10 points): Describe an interesting text classification or text mining task and explain what kind of features might be useful for you to build the machine learning model. List your features and explain why these features might be helpful. You need to list at least five different types of features.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:
Text classification performs important tasks such asÂ 
sentiment analysis, spam detection, and topic labeling, which classify data as good or bad.
Features that may be used to create SVM, deep learning, and natural language processing machine learning algorithms.
Entity feature, Tfidf, Dependency Parse, Linguistic feature extraction & Word2vec features.
'''

'\nPlease write you answer here:\nText classification performs important tasks such as\xa0\nsentiment analysis, spam detection, and topic labeling, which classify data as good or bad.\nFeatures that may be used to create SVM, deep learning, and natural language processing machine learning algorithms.\nEntity feature, Tfidf, Dependency Parse, Linguistic feature extraction & Word2vec features.\n'

Question 2 (20 points): Write python code to extract these features you discussed above. You can collect a few sample text data for the feature extraction.

In [ ]:
# You code here (Please add comments in the code):
import nltk

from bs4 import BeautifulSoup as bs
import pandas as pd
import requests as rq
import matplotlib.pyplot as plt
import nltk
from wordcloud import WordCloud
from nltk.corpus import stopwords

link = 'https://www.imdb.com/title/tt0468569/reviews/?ref_=tt_ql_urv'
data_frame = pd.DataFrame(columns=['Views'])
request = rq.get(link).text
soup = bs(request,'html.parser')
reviews_txt = soup.find_all('div', attrs={'class' : 'text show-more__control'})
views = []
for i in range(len(reviews_txt)):
    views.append(reviews_txt[i].get_text())  
data_frame['Views'] = views

data_frame['Counts'] = data_frame['Views'].apply(lambda x: len(str(x).split(" ")))
data_frame[['Views','Counts']].head()

                                               Views  Counts
0  Confidently directed, dark, brooding, and pack...      45
1  I got to see The Dark Knight on Wednesday nigh...     846
2  This movie is a work of art. The finest sequel...      76
3  I think that I could wax lyrical but this movi...     376
4  It is just what you want for the best movie. G...      41

In [ ]:
data_frame['Counts'] = data_frame['Views'].str.len()
data_frame[['Views','Counts']].head()

                                               Views  Counts
0  Confidently directed, dark, brooding, and pack...     291
1  I got to see The Dark Knight on Wednesday nigh...    4586
2  This movie is a work of art. The finest sequel...     394
3  I think that I could wax lyrical but this movi...    2060
4  It is just what you want for the best movie. G...     223

In [ ]:
from nltk.corpus import stopwords

import nltk
nltk.download('stops')
No = stopwords.words('english')

data_frame['stops'] = data_frame['Views'].apply(lambda x: len([x for x in x.split() if x in No]))
data_frame[['Views','stops']].head()

[nltk_data] Error loading stops: Package 'stops' not found in index

                                               Views  stops
0  Confidently directed, dark, brooding, and pack...     13
1  I got to see The Dark Knight on Wednesday nigh...    350
2  This movie is a work of art. The finest sequel...     18
3  I think that I could wax lyrical but this movi...    171
4  It is just what you want for the best movie. G...     15

In [ ]:
data_frame['hashs'] = data_frame['Views'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
data_frame[['Views','hashs']].head()

                                               Views  hashs
0  Confidently directed, dark, brooding, and pack...      0
1  I got to see The Dark Knight on Wednesday nigh...      0
2  This movie is a work of art. The finest sequel...      0
3  I think that I could wax lyrical but this movi...      0
4  It is just what you want for the best movie. G...      0

In [ ]:
data_frame['nums'] = data_frame['Views'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data_frame[['Views','nums']].head()

                                               Views  nums
0  Confidently directed, dark, brooding, and pack...     0
1  I got to see The Dark Knight on Wednesday nigh...     2
2  This movie is a work of art. The finest sequel...     0
3  I think that I could wax lyrical but this movi...     0
4  It is just what you want for the best movie. G...     0

In [ ]:
data_frame['up'] = data_frame['Views'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data_frame[['Views','up']].head()

                                               Views  up
0  Confidently directed, dark, brooding, and pack...   1
1  I got to see The Dark Knight on Wednesday nigh...  22
2  This movie is a work of art. The finest sequel...   3
3  I think that I could wax lyrical but this movi...   4
4  It is just what you want for the best movie. G...   1

Question 3 (10 points): Use any of the feature selection methods mentioned in this paper "Deng, X., Li, Y., Weng, J., & Zhang, J. (2019). Feature selection for text classification: A review. Multimedia Tools & Applications, 78(3)." Select the most important features you extracted above, rank the features based on their importance in the descending order.

In [ ]:
text = (data_frame['Views'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
text.columns = ['words','SS']
text

           words  SS
0            the  31
1             to  24
2              I  21
3            and  21
4              a  16
..           ...  ..
383       Nolan,   1
384        who's   1
385     previous   1
386      Begins,   1
387  Joker.10/10   1

[388 rows x 2 columns]

In [ ]:
import numpy as np

for M,W in enumerate(text['words']):
  try:
    text.loc[M, 'Mdata_frame'] = np.log(data_frame.shape[0]/(len(data_frame[data_frame['Views'].str.contains(W)])))
  except:
     Exception(" ")
text

           words  SS  Mdata_frame
0            the  31     0.083382
1             to  24     0.174353
2              I  21     0.174353
3            and  21     0.223144
4              a  16     0.000000
..           ...  ..          ...
383       Nolan,   1     2.120264
384        who's   1     3.218876
385     previous   1     2.120264
386      Begins,   1     2.525729
387  Joker.10/10   1     3.218876

[388 rows x 3 columns]