<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [1]:
import random
import statistics
random_list = random.sample(range(1, 100), k=12)
print("SS list:",random_list)
Asc_Order=sorted(random_list)
print("Asc Order:",Asc_Order)
random_list.sort(reverse=True)
print("Des Order:",random_list)
Avg=statistics.mean(random_list)
print("Avg:",Avg)

SS list: [30, 38, 2, 7, 86, 13, 96, 23, 78, 84, 31, 9]
Asc Order: [2, 7, 9, 13, 23, 30, 31, 38, 78, 84, 86, 96]
Des Order: [96, 86, 84, 78, 38, 31, 30, 23, 13, 9, 7, 2]
Avg: 41.416666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [2]:
# Ask the user to enter two sentences.
print("Insert two sentences")
First = input("First: ")
Second = input("Second: ")

import re
fir_lst= re.findall(r"[\w']+|[^\w\s]", First)
print (fir_lst)
sec_lst= re.findall(r"[\w']+|[^\w\s]", Second)
print (sec_lst)

Insert two sentences
First: hi
Second: helo
['hi']
['helo']

In [3]:
# Compare the two sentences.
common = []
for ele in sec_lst:
  if ele in fir_lst:
    common.append(ele)
print(common)

[]

In [4]:
# To Remove any punctuation.
Puncts = ''''!()-[]{};:'"\,<>./?@#$%^&*_~'''
NoPuncts1 = ""
for i in First:
  for char in i:
    if char not in Puncts:
         NoPuncts1 = NoPuncts1+ char
print(NoPuncts1)

NoPuncts2 = ""
for b in Second:
  for char in b:
    if char not in Puncts:
         NoPuncts2 = NoPuncts2 + char
print(NoPuncts2)

hi
helo

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [5]:
# To Calculate the value of V.
def Sph_vol(r, pi = 3.1415926535897931):
  return (4/3) * pi * (r ** 3)

print('r   v')
# When r is in range of 1-10.
for r in range(10):
  print (str(r) +" " +str(Sph_vol(r)))

r   v
0 0.0
1 4.1887902047863905
2 33.510321638291124
3 113.09733552923254
4 268.082573106329
5 523.5987755982989
6 904.7786842338603
7 1436.7550402417319
8 2144.660584850632
9 3053.6280592892786

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [6]:
import pandas as pd
houses = pd.read_csv('Assignment1_denton_housing.csv')
df_ohd = houses[houses['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
df_ohd.value.diff().sort_values()

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
20       NaN
Name: value, dtype: float64

In [7]:
VCNT = houses[houses['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])['value']
OCCD = houses[houses['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])['value']
TTL = houses[houses['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['value']
year = houses[houses['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['year']
Vacant = [str((vacant/total)*100)+' %' for vacant,total in zip(VCNT,TTL)]
occupied = [str((occupied/total)*100)+' %' for occupied, total in zip(OCCD, TTL)]
Final = pd.DataFrame(list(zip(year,Vacant, occupied)), columns =['Year','Vacant Housing Units', 'Occupied Housing Units'])
Final

   Year Vacant Housing Units Occupied Housing Units
0  2008  10.88265281351653 %    89.11734718648347 %
1  2009   9.07111572444872 %    90.92888427555128 %
2  2010  8.142556337081672 %    91.85744366291833 %
3  2011  9.379522229890688 %     90.6204777701093 %
4  2012  6.677600230491346 %    93.32239976950866 %
5  2013  8.801787504176412 %    91.19821249582358 %
6  2014  5.730110570363885 %    94.26988942963611 %

In [8]:
df_VCNT = houses[houses['title_field'] == 'Vacant Housing Units']
Max_diff= pd.concat([df_ohd[df_ohd['value'] == df_ohd['value'].max()],df_VCNT[df_VCNT['value'] == df_VCNT['value'].max()]])
print(Max_diff[['title_field','year','value']])

               title_field  year  value
2   Occupied Housing Units  2014  46295
19    Vacant Housing Units  2008   4483

In [9]:
import statistics
print('Harmonic mean  is {0}'.format(statistics.harmonic_mean(TTL)))

Harmonic mean  is 44398.28543969185